<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vos identifiants de connexion</title>
</head>
<body>
<h1>Bienvenue, {{ name }} !</h1>

<p>Voici vos identifiants de connexion :</p>

<ul>
    <li><strong>Lien :</strong> <a href="{{ link }}">{{ link }}</a></li>
    <li><strong>username :</strong> {{ username }}</li>
    <li><strong>Mot de passe :</strong> {{ password }}</li>
</ul>
<p>Veuillez changer le mot de passe après la connexion</p>
</body>
</html>